@font-face {
	font-family: "Perfect DOS VGA 437";
	src: url("./perfect_DOS_VGA_437.ttf") format("truetype");
}


::selection {
	color: #000;
	opacity: 0.99;
}


body {
	background-color: black;
}


p {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
}


mark {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
	color: #000;
	background-color: #0f0;
}


input {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
	background-color: black;
	width: 70%;
	outline: none;
}