@font-face {
	font-family: "Perfect DOS VGA 437";
	src: url("./perfect_DOS_VGA_437.ttf") format("truetype");
}


::selection {
	color: #000;
	opacity: 0.99;
}


:root {
	--theme-color: #0f0;
}

body {
	background-color: black;
	color: var(--theme-color);
}


.option {
	color: var(--theme-color);
}


p {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
	color: var(--theme-color);
}


mark {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
	color: #000;
	background-color: var(--theme-color);
}


input {
	font-family: "Perfect DOS VGA 437";
	font-size: 16pt;
	background-color: black;
	width: 70%;
	outline: none;
}